.attendance_item {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 7.125rem;
  border-radius: 0.625rem;
  background: #404040;
  padding: 0.81rem 0.62rem 1.19rem 0.94rem;
  margin: 1rem 0.94rem 1rem 0.94rem;
}

.attendance_item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attendance_item__status {
  width: 4.5rem;
  /* height: 1.3125rem;
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.attendance_item__date {
  margin-right: 0.87rem;
}

.attendance_item__link {
  margin: auto 0 auto auto;
}
