.login__title {
  display: flex;
  flex-direction: column;
  margin: 17.25rem auto 23.19rem auto;
}

.login__slogan {
  color: #fff;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login_logo {
  width: 4.3125rem;
  height: 4.3125rem;
  flex-shrink: 0;
  margin: 1.44rem auto 0 auto;
}
