.wrapper {
    height: 96vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 3rem; */
}

.wrapper.header {
    /* height: calc(100vh - 5.5rem); */
}