/* historyHeader */

.historyHeader {
    display: flex;
    width: 100vw;
    align-items: center;
    height: 5.5rem;
    padding-left: 5vw;
}

.historyHeader__img {
    object-fit: cover;
    padding: 0;
    margin: 0;
}

/* logoHeader */

.logoHeader {
    display: flex;
    width: 100vw;
    align-items: center;
    height: 5.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
}
.logoHeader img {
    object-fit: contain;
    height: 100%;
    width: 1.8125rem;
}
/* .logoHeader__img__left {
} */
.logoHeader__img__right {
    margin-left: auto;
}
.logoHeader__img__right img{
    margin-left: 0.69rem;
}

/* clubHeader */
.clubHeader {
    background-color: #1B1B1B;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    height: 5.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
}

.clubHeader img {
    object-fit: contain;
    height: 100%;
    width: 1.8125rem;
    height: 1.8125rem;
}

.clubHeader__title {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

.clubHeader__title img {
    height: 0.375rem;
    width: 0.6875rem;
}

.clubHeader__title__img.active {
    animation: rotate_img 0.3s linear forwards;
}

@keyframes rotate_img {
    100% {
        transform: rotate(180deg);
    }
}