.current_attendance {
  margin-left: 0.94rem;
}

.today_schedule {
  margin-left: 0.94rem;
  margin-top: 3rem;
}

.attendance_status_item {
  display: flex;
  align-items: center;
  height: 4.25rem;
  border-top: 0.03125rem solid #4b4b4b;
  /* border-bottom: 0.03125rem solid #4b4b4b; */
}

.attendance_status_item__profile {
  width: 2.32981rem;
  height: 2.32981rem;
  border-radius: 50%;
  margin-right: 0.86rem;
}

.attendance_status_item__icon {
  width: 0.25rem;
  height: 0.25rem;
  flex-shrink: 0;
  border-radius: 50%;
  margin-left: 11rem;
  margin-right: 0.38rem;
}

/* 추가된 코드: 색상 클래스에 따른 아이콘 색상 지정 */
.attendance_status_item__icon.green {
  background-color: green;
}

.attendance_status_item__icon.red {
  background-color: red;
}

.attendance_status_item__icon.yellow {
  background-color: yellow;
}

.attendance_status_list {
  padding-left: 1rem;
  padding-right: 1rem;
}

.attendance_status_list__content {
  display: flex;
  flex-direction: row;
  height: 5.125rem;
  margin: 1rem 0 1.56rem 0.19rem;
}

.attendance_status_list__content_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1.19rem;
}

.attendance_status_list__content_people {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attendance_status_list__content_select {
  display: flex;
  width: 5.75rem;
  height: 1.875rem;
  border-radius: 0.125rem;
  border: 0.5px solid #d9d9d9;
  background: #2b2b2b;
  text-align: center;
  color: #fff;
  font-family: "Pretendard Variable";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: auto;
  margin-top: auto;
}

.attendance_status_list__edit_btn {
  position: fixed;
  bottom: 1.14rem;
  left: 0;
  padding: 10px;
  z-index: 999;
  height: 3.125rem;
  border-radius: 0.625rem;
  margin-left: 0.94rem;
  margin-right: 0.94rem;
}
