.current_attendance {
  margin-left: 0.94rem;
}

.today_schedule {
  margin-left: 0.94rem;
  margin-top: 3rem;
}

.attendance_status_list {
  padding: 5.5rem 1rem 0 1rem;
}

.attendance_status_list__content {
  display: flex;
  flex-direction: row;
  height: 5.125rem;
  margin: 1rem 0 1.56rem 0.19rem;
}

.attendance_status_list__content_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1.19rem;
}

.attendance_status_list__content_people {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attendance_status_list__select {
  display: flex;
  width: 5.75rem;
  height: 1.875rem;
  border-radius: 0.125rem;
  border: 0.5px solid #d9d9d9;
  background: #2b2b2b;
  text-align: center;
  color: #fff;
  font-family: "Pretendard Variable";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: auto;
}

#attendance_status_select {
  margin-top: auto;
}

.attendance_status_list__item {
  margin-bottom: 5rem;
}

.attendance_status_list_edit {
  padding: 5.5rem 1rem 0 1rem;
}

.attendance_status_list__edit_btn {
  position: fixed;
  width: 100%;
  bottom: 1.14rem;
  left: 50%; /* 왼쪽 기준을 50%로 설정 */
  transform: translateX(-50%); /* 왼쪽으로 50% 이동하여 가운데 정렬 */
  padding: 10px;
  z-index: 999;
  border-radius: 0.625rem;
  display: flex; /* Flexbox 사용 */
  gap: 1.12rem; /* 버튼 사이 간격 조정 (필요 시) */
}

.attendance_status_list__edit_btn > :first-child {
  flex: 1; /* 첫 번째 버튼: 1 비율 */
}

.attendance_status_list__edit_btn > :last-child {
  flex: 2; /* 두 번째 버튼: 2 비율 */
}
