.btn {
    padding: 1rem 0;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    font-family: "Pretendard Variable";
    box-shadow: none;
}

.btn.sm {
    width: 30vw;
}

.btn.md {
    width: 55vw;
}

.btn.lg {
    width: 90vw;
}

.btn.pr {
    width: 90%;
}