.board__list__wrapper {
  height: calc(100vh - 5.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.25rem;
  overflow-y: auto;
}
.board__list__wrapper::-webkit-scrollbar {
  display: none;
}
.board__list__top {
  width: 100%;
  padding-left: 5vw;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #4b4a4a;
}
