.home {
    height: calc(100vh - 5.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }
  .home__content__floating {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5vw;
  }
  
  /* λ―Έν…μ© */
  .home__content__meeting {
    width: 90vw;
    margin-left: 0.94rem;
    margin-right: 0.94rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
  }
  