.registerBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1.25rem 0;
}

.textBox {
    display: flex;
    gap: 0.25rem;
}

.chipBox {
    display: flex;
    gap: 1rem;
}