.member__list__top {
  border-bottom: 1px solid #4b4b4b;
  width: 100%;
  display: flex;
  padding-bottom: 0.75rem;
  padding-left: 5vw;
  padding-right: 5vw;
}
.member__list__bottom{
  padding-bottom: 4rem;
  /* height: 95%;
  overflow-y: auto; */
  /* 힝,,, */
}
.member__list__bottom::-webkit-scrollbar {
  display: none;
}