.floating__wrapper {
  outline: 0;
  width: 3.4375rem;
  height: 3.4375rem;
  position: relative;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating__img {
  cursor: pointer;
  object-fit: contain;
}

.floating__span {
  position: absolute;
  right: 100%;
  margin-right: 0.94rem;
  white-space: nowrap;
  color: #fff;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
