.home {
  /* height: calc(100vh - 5.5rem); */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__content__floating {
  position: fixed;
  bottom: 5.5rem;
  right: 5vw;
}

/* λ―Έν…μ© */
.home__content__meeting {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}
